/* css/alergenos.css */
.alergeno {
    position: relative;
    display: inline-block;
    margin: 10px;
}

.alergeno-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.alergeno-nombre {
    margin-left: 10px;
    font-size: 14px;
    vertical-align: middle;
}

.tippy-box {
    background-color: black !important;
    color: white !important;
    border-radius: 5px !important;
    padding: 5px 10px !important;
    font-size: 14px !important;
}
